.background-image {
    background-image: url("./images/Netflix-Background.jpg");
    height: 768px;
    background-size: contain;

}

.background-shade {
    height: 768px;
    background-color: rgba(0, 0,0, 0.6);
}